<idea-plugin>
    <id>test.explorer.sandbox.smoke</id>
    <name>Test Explorer Sandbox Checks</name>
    <vendor>Local development only</vendor>
    <version>1</version>
    <depends>dev.igorshahin.flutter-test-explorer</depends>
    <depends>Dart</depends>
    <depends>io.flutter</depends>
    <extensions defaultExtensionNs="com.intellij">
        <postStartupActivity implementation="smoke.SmokeStartup"/>
        <postStartupActivity implementation="smoke.FilteredExecutionSmoke"/>
        <postStartupActivity implementation="smoke.MultiFileExecutionSmoke"/>
    </extensions>
</idea-plugin>
